
.fz-5-cta-section {
  background: url(/assets/images/offer.jpg) center center no-repeat;
  background-size: cover;
  margin-bottom: 3%;



  .fz-5-cta-txt {
    padding: 50px 0;

    h3 {
      font-size: 34px;
      line-height: 1;
      font-weight: 400;
      color: $white;
      margin-top: -2px;
      margin-bottom: 21px;

      @include lg {
        font-size: 25px;
        margin-bottom: 15px;
      }

      @include md {
        font-size: 18px;
        margin-top: -1px;
        margin-bottom: 4px;
      }
    }

    h2 {
      font-size: 60px;
      line-height: 70px;
      font-weight: 700;
      text-transform: uppercase;
      color: $white;
      margin-bottom: 27px;

      @include lg {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 18px;
      }

      @include md {
        font-size: 30px;
        margin-bottom: 5px;
      }
    }

    @include sm {
      text-align: center;
    }
  }

  .fz-5-cta-img {
    margin-top: -50px;

    @include xl {
      margin-top: -40px;
    }

    @include lg {
      margin-top: -21px;
    }

    @include md {
      margin-top: -18px;
    }

    @include sm {
      margin-top: 0;
    }
  }
}

@media screen and (max-width:1629px) and (min-width:1400px) {
  .fz-5-category-slider {
    .owl-nav {
      display: none;
    }
  }

  .fz-5-cta-section .fz-5-cta-img {
    margin-top: -33px;
  }

  .fz-5-cta-section.fz-5-cta-section-2 .fz-5-cta-img {
    margin-left: -63px;
  }
}

.deleted-product-thumb {
  width: 100%;
  height: 100%;
  background: #ddd;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  border-radius: 6px;
}
