@import "./main/variable";
@import "./main/breakpoints";
@import "./main/mixins";

@import "./main/global";

@import "./header";
@import "./footer";
@import "./home";
@import "./login";
@import "./catalog";
@import "./main/components";
@import "./cart";
@import "./userProfile";
@import "./productDetails";
@import "./createProduct";
@import "./admin";
@import "./offer";
@import "./reviewCard";
@import "./userLayout";
@import "./orders";
@import "./sidebar";
@import "./modals";
@import "./notFound";
@import "./main/utils";
@import "./about";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.fz-5-body {
  flex: 1;
}




