@import "./main/variable";
@import "./main/breakpoints";
@import "./main/mixins";

@import "./main/global";

@import "./header";
@import "./footer";
@import "./home";
@import "./login";
@import "./catalog";
@import "./main/components";
@import "./cart";
@import "./userProfile";
@import "./productDetails";
@import "./createProduct";
@import "./admin";
@import "./userLayout";
@import "./main/utils";

main {
  min-height: 60vh;
}



